.row
  .small-12.large-12.columns
    %ul#steps
      %li#first{:style => "opacity:0.5"}
        Step 1
      %li#second{:style => "font-weight:bold;"}
        Step 2
      %li#third{:style => "opacity:0.5"}
        Confirmed

    %h3 Step 2 - Create an account
    #content
      = form_for @user do |f|
        = render 'layouts/error_messages', :object => f.object
        / = f.hidden_field :appointments, :value => @appointment.id
        %input{:type => "hidden", :name => "appointment", :value => "#{@appointment.id}"}
        .row
          .small-12.large-6.columns
            = f.label "First Name *"
            = f.text_field :first, :class => "required"
          .small-12.large-6.columns
            = f.label "Last Name * "
            = f.text_field :last, :class => "required"
          .small-12.large-6.columns.end
            = f.label "Email *"
            = f.text_field :email, :class => "required", :type => :email
        .row
          .small-12.large-5.columns
            = f.submit "Create Account"