!!!
%html
  %head
    %title UnicornFarm
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport", "user-scalable" => 0}



    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
  %body
    .row
      .twelve.columns
        = render :partial => "layouts/header"
        #main
          / - flash.each do |key, value|
          /   %h2.flash
          /     = value
          = yield
    = javascript_include_tag "application"
