!!!
%html
  %head
    %title UnicornFarm
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .row
      .twelve.columns
        = render :partial => "layouts/header"
        #main
          = yield
    = javascript_include_tag "application"
