!!!
%html
  %head
    %title UnicornFarm
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .row
      .twelve.columns
        = render :partial => "layouts/header"
        #main
          - flash.each do |key, value|
            %h1
              ya
            .flash
              = key
              = value
          = yield
    = javascript_include_tag "application"
